* {
    margin: 2px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.buyer_acc{
    background-image: url('1064667.jpg');
    width: 100%;
    height: 880px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{

    padding-top: 100px;
    margin-left: 500px;
    font-family:'Permanent Marker', cursive ;
    font-size: 60px;
    color: #9494b8;
    
}

.buyer_form{
    opacity: 0.6;
    margin: 5px auto;
    width: 800px;
    height: 400px;
    background-color: beige;
    border-radius: 8px;
  
}

.buyer_form h2 {
    padding-top: 40px;
    text-align:center;
    font-family: 'EB Garamond', serif;
    font-size: 36px;
}

.buyer_form form {
    margin-left: 90px;
    padding-top: 5px;
    width: 700px;
    height: 220px;
}


input {
    

    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height: 30px;
    display:inline-block;
    *display: inline;     
    zoom:1;             
    vertical-align:middle;
    margin-left:20px
}

label {
    color: #000;
    font-weight: bold;
    display:inline-block;
    *display: inline;    
    zoom:1;              
    padding-top: 5px;
    text-align: right;
    width: 140px;
}

.buyer_form button{
    background-color:#000000; 
  	border: none;
  	color: white;
  	width: 280px; 
  	padding: 15px 32px;
  	margin-left: 270px;
    margin-bottom: 300px;  
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
    border-radius: 16px;  
    vertical-align: middle;
}