* {
    margin: 2px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.home {
  
    height: 880px;
    background-image: url('./dogs_1280p_0.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
 
.home h1{

    padding-top: 100px;
    margin-left: 500px;
    font-family:'Permanent Marker', cursive ;
    font-size: 60px;
    color: #00cc00;
    
}

.buttons{
    margin-top: 100px;
    margin-left: 400px;
}

.login{
    margin-top: 45px;
}

.buttons button{
    background-color: #00cc00; /* Green */
  	border: none;
  	color: white;
  	width: 280px; 
  	padding: 15px 32px;
  	margin-left: 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
    border-radius: 16px;  

}


